{{define "nav"}}
 <nav>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">IMS</a>
            
        </div>
      </nav>
</nav>
{{end}}
