@media (min-width:1025px) {
    #landloginform {
        position: relative;
    }
    #landloginform::before{
        content: "";
        position: absolute;
        top: 19px;
        right: -44px;
        width: 2px;
        height: 221px;
        padding: 1px;
        background-color: black;
    }
}
